@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #93cc9a;
    transition: all 0.1s ease-in;
}

h1 {
    font-family: 'Press Start 2P', 'cursive';
    font-size: 46px;
    color: azure;  
}

.blinking{
    animation: blink 3.0s infinite;
}

.landing {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin: 350px;
}

.rps {
    display: flex;
    font-family: 'Press Start 2P', 'cursive';
    font-size: 46px;
    color: azure;
    justify-content: center;
    align-items: center;
}

.press-to-start {
    display: flex;
    font-family: 'Press Start 2P', 'cursive';
    font-size: xx-large;
    color: azure;
    justify-content: center;
    align-items: center;
    animation-name: "appear";
    animation-duration: 4s;
}

.title-container {
    display: flex;
    margin: 64px;
    justify-content: center;
}

.elm-img-container {
    display: flex;
    margin: 36px;
    padding-top: 64px;
    justify-content: center;
    gap: 256px;
}

.small-text {
    color: azure;
    font-family: 'Press Start 2P', 'cursive';
    font-size: small;
}

.score-container {
    display: flex;
    justify-content: center;
    padding-top: 128px;

}